el_dbVendor={{ db_el_vendor }}
el_dbUsername={{ db_el_user }}
el_dbPassword={{ db_el_password }}
el_dbHost={{ db_el_host }}
el_dbPort={{ db_el_port }}
el_dbName={{ db_el_name }}
el_dbTablespace={{ db_el_tablespace }}
el_dbTablespaceIdx={{ db_el_tablespace_index }}
el_dbJdbcDriver={{ db_el_jdbc_driver }}
el_dbProperties={{ db_el_properties }}
el_dbType={{ db_el_type }}
