# These properties point to the actual places of the installations of TEST and devtool-backend with their contexts
TEST: {{ TEST_ui_service }}/TEST
devtool-backend: {{ devtool_backend_service }}/devtool-backend