# {{ ansible_managed }}
[template]
src   = "ha-sync/exclude-list.tmpl"
dest  = "/etc/ha-sync/exclude-list"
keys  = ["config/ha/group/{{ ha_group }}/exclude-list"]
owner = "root"
group = "root"
mode  = "0644"
