#!/usr/bin/python

import os
import sys
import time
import thread
import os.path
import argparse
from os import listdir
from shutil import copy2
from datetime import datetime
from os.path import isfile, join
from subprocess import Popen, PIPE

NOTIFY='notify'
CHECK='check'

OK = 1
FAIL = 2
TIMEOUT = 3


def parse_arguments():
    parser = argparse.ArgumentParser()
    parser.add_argument("type", help="The first argument to a script, defines the type of operation")
    parser.add_argument("state", help="The second argument to a script, target state of transition")
    return parser.parse_args()

def remove_file(path):
    try:
        os.remove(path)
    except OSError:
        print 'No file to delete: %s' % (path)

def cleanup_pids():
    return True

def execute_scripts_in_dir(path):
    for f in listdir(path):
        full_file_path = join(path, f)
        if isfile(full_file_path):
            Popen([full_file_path]).wait()

def notify_master():
    execute_scripts_in_dir('/opt/vrrp/pre_start')
# Try to start data mounts in loop before trying to start services
    rc = 1
    while rc != 0:
{% for mount in cinder_volumes %}
{% if loop.index == 1 %}
        rc = Popen(['systemctl', 'start', '{{ mount.mount_point }}']).wait()
{% else %}
        rc = rc + Popen(['systemctl', 'start', '{{ mount.mount_point }}']).wait()
{% endif %}
        if rc != 0:
            time.sleep(5)
{% endfor %}
    rc = 0
{% if alarm_version == '1' %}
    rc = Popen(['systemctl', 'start', 'event-management']).wait()
{% endif %}
    #rc = rc + Popen(['systemctl', 'start', 'nfs-server']).wait()
    rc = rc + Popen(['systemctl', 'start', 'httpd']).wait()
    if rc != 0:
        return FAIL
    execute_scripts_in_dir('/opt/vrrp/post_start')
    return OK

def notify_standby():
{% if alarm_version == '1' %}
    Popen(['systemctl', 'stop', 'event-management'])
{% endif %}
    #Popen(['systemctl', 'stop', 'nfs-server'])
    Popen(['systemctl', 'stop', 'httpd'])
# Unmount Cinder volumes
{% for mount in cinder_volumes %}
    Popen(['umount', '-f', '{{ mount.mount_point }}']).wait()
{% endfor %}
    return OK

def process_notify(args):
    if args.state == 'STANDBY':
        return notify_standby()
    elif args.state == 'ACTIVE':
        return notify_master()
    else:
        return OK

def check_standby():
    return OK

def check_active():
{% if alarm_version == '1' %}
    services = ['httpd', 'event-management']
{% else %}
    services = ['httpd']
{% endif %}
    for service in services:
        return_code = Popen(['systemctl', 'status', service]).wait()
        if return_code != 0:
            return FAIL
    return OK

def process_check(args):
    if args.state == 'STANDBY':
        return check_standby()
    elif args.state == 'ACTIVE':
        return check_active()
    else:
        print 'checking ' + args.state
        return OK

def process_transition(args):
    now = datetime.now()
    print '%s process_transition(): %s, %s' % ( str(now), args.type, args.state,  )

    if(args.type == NOTIFY):
        return process_notify(args)
    elif(args.type == CHECK):
        return process_check(args);

def call():
    returncode = process_transition(parse_arguments())
    if returncode != 1:
        sys.exit(1)



call()







