{
  "providerId": "allowed-client-templates",
  "providerType": "org.keycloak.services.clientregistration.policy.ClientRegistrationPolicy",
  "subType": "authenticated",
  "config": {
    "allowed-client-templates": [
      "{{ kc_client_template_name }}"
    ]
  }
}