GTPCONFIG="{{ gtp_prime_collector.base_directory }}/config/gtp.json"
LOG4JCONFIG="{{ gtp_prime_collector.base_directory }}/config/log4j2.properties"
GSNSEQCONFIG="{{ gtp_prime_collector.base_directory }}/config/sequenceNumbers.json"
JAVA_OPTS="{{ gtp_prime_java_opts }}"
DEBUG={{ gtp_prime_enable_debug_mode }}
